.donations-content {
    .title {
        text-align: center;
        padding-top: 20px;
        font-size: xx-large;
        font-weight:800;
        margin: 20px;
  }

    img {
        max-width: 1000px;
        margin:auto;
        display: flex;
    }
    .main {
        max-width: 200px;
        margin:auto;
        display: flex;
    }

    div {
        margin-left: 10px;
        padding-bottom: 20px;
    }
}