.donations-content {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: x-large;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    .text {
        font-size: x-large;
        margin: 0 0 5vw 0;
        background: #33333360;
        backdrop-filter: blur(10px);
        display: inline-block;
        border-radius: 20px;
        padding: 1em;
        opacity: 1.0;
    }
    .title {
        color: black;
        opacity: 1.0;
        text-align: center;
        padding-top: 20px;
        font-size: x-large;
        font-weight:800;
        margin: 20px;
  }

  h1 {
    color: black;
    opacity: 1.0;
    padding-top: 20px;
    font-size: x-large;
    font-weight:1500;
    margin: 20px;
  }
  p {
    color: black;
    opacity: 1.0;
    padding-top: 20px;
    font-size: x-large;
    font-weight:1500;
    margin: 20px;
  }

  .markdown {

    text-align: center;
    p {
        display: flex;

        flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }
  

    img {
        
        max-width: 80%;
        margin-top: 50px;
        display: flex;
    }
    .main {
        color: red;
        max-width: 200px;
        margin:auto;
        display: flex;
        
    }

    div {
        margin-left: 10px;
        padding-bottom: 20px;
    }
    
}