.team-content {
    text-align: center;

    .team-intro {
        padding-top: 10px;
        /* font-family: "Inter"; */
        width: 100%;
        font-size: larger;
        font-weight: bold;
        margin-bottom: 20px;
        border-bottom: 3px solid black;
    }
}

.team-list {
    font-family: "Robotech GP";
    letter-spacing: .05em;

    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .team-card {
        display: flex;
        margin: 20px 20px;

        height: 300px;

        .team-expand-card {
            background-color: rgb(131, 131, 131);
            border: 3px solid black;
            border-left:  none;
            padding: 5px;
            width: 250px;

            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            
            color: rgb(237, 237, 237);
            height: 300px;
            font-size: larger;

            
        }
        
    }

    .team-main-card {

        border: 3px solid black;
        border-right: 2px solid black;
        padding: 5px;
        width: 200px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        .team-name {
            margin: 5px 0px;
        }

        .team-photo-frame {
            overflow: hidden;
            width: 175px;
            margin-top: 10px;
            height: 175px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 5px;
            background-color: rgb(0, 0, 0);

            img {
                width: 175px;
            }
        }
    }

    h1 {
        text-align: center;
    }
    
    .Drive {
        background-color: rgb(40, 223, 189);
    }  
    .Hardware {
        background-color: rgb(125, 162, 255);
    }  
    .Software {
        background-color: rgb(0, 102, 255);
    }
    .Outreach {
        background-color: rgb(150, 95, 245);
    }
    .Big {
        background-color: rgb(217, 217, 217);
    }

.BIG {
    animation: rainbowChange 8s linear infinite;
  }
}
@keyframes rainbowChange {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: green; }
    56% { background-color: blue; }
    70% { background-color: indigo; }
    84% { background-color: violet; }
    100% { background-color: red; }
}