.team-content {
    
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 6em;
    min-height: calc(100vh - 6em);

    .team-intro {
        padding-top: 10px;
        text-align: center;
        font-family: "Inter";
        width: 100%;
        font-size: larger;
        font-weight: bold;
        margin-bottom: 50px;
        border-bottom: 3px solid black;
    }
}

.team-list {
    font-family: "Caslon";

    display: flex;
    flex-wrap: wrap;

    .team-card {
        display: flex;
        margin: 5px 20px;

        height: 310px;

        .team-expand-card {
            background-color: rgb(131, 131, 131);
            border: 3px solid black;

            padding: 5px;
            
            color: rgb(237, 237, 237);
            max-width: 0px;
            display: block;
            opacity: 0;
            height: 300px;
            border-radius: 6px;  
            transition: max-width 0.5s ease, opacity 0.4s;

            font-size: larger;

            div {
                margin-left: 5px;
                margin-top: 5px;
            }
        }
        .team-expand-card.expanded {
            max-width: 200px;
            opacity:1;
        }
        .team-expand-card.expanded:hover {
            transition: all 0.3s ease-in-out;
            box-shadow: 3px 3px black;
        }
        .team-expand-card.expanded:not(hover) {
            transition: all 0.3s ease-in-out;
            box-shadow: 7px 7px black;
        }

        
    }

    .team-main-card {

        border: 3px solid black;
        border-radius: 6px;

        padding: 5px;
        width: 200px;
        height: 300px;
        .team-name {
            margin: 5px 0px;
        }

        .team-role {

        }

        .team-photo-frame {
            overflow: hidden;
            width: 175px;
            height: 175px;
            margin: 5px 2px 20px 10px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 5px;
            background-color: black;

            img {
                width: 175px;
                height: 175px;
            }
        }

        .team-expand-button {
            border: 1px solid black;
            background-color: rgb(255, 255, 255);
            margin-left: 100px;
            padding: 3px 6px;
            cursor: pointer;
            white-space: nowrap;
        }
        .team-expand-button:hover {
            transition: all 0.3s ease-in-out;
            box-shadow: 1px 1px rgb(0, 0, 0);
            background-color: rgb(0, 157, 255);
        }
        .team-expand-button:not(hover) {
            transition: all 0.3s ease-in-out;
            box-shadow: 3px 3px rgb(102, 102, 102);
        }
    }
    .team-main-card:hover {
        transition: all 0.3s ease-in-out;
        box-shadow: 3px 3px black;
    }
    .team-main-card:not(hover) {
        transition: all 0.3s ease-in-out;
        box-shadow: 7px 7px black;
    }

    .Drive {
        background-color: rgb(179, 255, 0);
    }
    .Software {
        background-color: rgb(255, 0, 111);
    }
    .Hardware {
        background-color: rgb(0, 162, 255);
    }
}