.about-content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 6em;
    min-height: calc(100vh - 6em);

    .top-bar {
        padding-top: 20px;
        font-size: xx-large;
        font-weight:800;
        margin: 20px;
    }
    
    .info-container {
        display: block;
        div {
            margin: 20px;
        }
    }

    .memoriam {
        margin: 20px;
        height: fit-content;
        padding: 10px;
       
        img {
            max-width: 300px;
        }
    }
}