.season-content {
  
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 6em;
    min-height: calc(100vh - 6em);
    font-family: 'montserrat';
    
    h2 {
            padding-top: 20px;
            font-size: xx-large;
            font-weight:800;
            margin: 20px;
      }

    

    .dropdown {
        position: relative;
        display: inline-block;
        
        background-color: rgb(214, 214, 214);
        padding: 10px;
        border: 2px solid black;
        margin-left: 20px;
        border-radius: 5px;
    }
    .dropdown-content {
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        overflow: hidden;

        div {
            min-width: 300px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;

            width: 200px;
            cursor: pointer;
        }
        div:hover { 
            background-color: rgb(165, 165, 165);
        }

      }
      
      .selected .dropdown-content {
        animation: dropdown-scroll-in 0.2s ease-in;
        
      }
    .season {
        align-items: center;
        width: 100%;
        .season-info {
            font-size: x-large;
            text-align: left;
            margin-left: 50px;
            margin-right: 50px;
            padding-bottom: 25px;

            .markdown {
                font-family: "Caslon";

                img {
                    max-width: 80%;
                    margin: 10px;
                }
               ul {
                list-style-position: inside;
               }
            }
        }
    }

    
    
}


@keyframes dropdown-scroll-in {
    from {
        display: none;
        height: 0px;
        
    }
    to {
        display: block;
        height: 200px;
    }
}
