
.content {
    .welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'montserrat';
        margin-top: 6em;
        padding: 0;
        top: 0;
        background-image: url("./home_assets/teamAtPit.jpg");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        color: #ffffff;
        text-align: center;
        position: relative;
        height: calc(100vh - 6em);
        .text {
            font-size: x-large;
            margin: 0 0 10vw 0;
            background: #33333360;
            backdrop-filter: blur(10px);
            display: inline-block;
            border-radius: 20px;
            padding: 1em;
        }
    }
}

