.awards-content {
    .title {
        padding-top: 20px;
        font-size: xx-large;
        font-weight:800;
        margin: 20px;
  }

    img {
        max-width: 500px;
    }

    div {
        margin-left: 10px;
        padding-bottom: 20px;
    }
}