.awards-content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 6em;
    min-height: calc(100vh - 6em);
    font-family: 'montserrat';

    .title {
        padding-top: 20px;
        font-size: xx-large;
        font-weight:800;
        margin: 20px;
  }

    img {
        max-width: 500px;
    }

    div {
        margin-left: 10px;
        padding-bottom: 20px;
    }
}