@font-face {
    font-family: "Caslon";   /*Can be any text*/
    src: local("Caslon"),
      url("./assets/ACaslonPro-Regular.otf") format("truetype");
  }
  @font-face {
    font-family: "Outfit";   /*Can be any text*/
    src: local("Outfit"),
      url("./assets/Outfit-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";   /*Can be any text*/
    src: local("Inter"),
      url("./assets/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  }
  
